GOVINFO_MCP_URL=https://api.govinfo.gov/mcp
GOVINFO_API_KEY=
OPEN_LEGAL_CODES_BASE_URL=https://openlegalcodes.org/api/v1
SERPER_URL=https://google.serper.dev/search
SERPER_API_KEY=0e9488f54cf9fe75338ed9a86d381cdb6be0309ec8cb098fa899fdc56f2c614a
HTTP_TIMEOUT_SECONDS=20

